.bubble {
	border: 1px solid #f0f0f056;
	box-shadow: inset 10px 10px 30px 1px #ffffff;
	border-radius: 50%;
	position: absolute;
}

@keyframes bubble {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(80px, 30px);
	}
	50% {
		transform: translate(40px, 65px);
	}
	75% {
		transform: translate(-10px, 23px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
