.assets-row {
	padding: 10px 0;
}

.assets-card {
	height: 280px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.chart-card {
	height: 280px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
